.history{
    background-color: #fff;
    padding: 2rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verse{
    font-family: "Lora", sans-serif;
    font-size: 1.1rem;  
    text-align: center;
    color: #92A8D1;
    margin-bottom: 1rem;
}

@media(max-width: 600px){
    .history{
        padding: 0.2rem 0.7rem;
    }

    .verse{
        font-size: 0.75rem;
    }
}