.weddingDate {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.date {
    margin-top: 2rem;
    color: #E91E63;
    font-size: 8rem;
    margin-bottom: 2rem;
}

.countdown-area {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.countdown {
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

@media (max-width: 600px) {
    .date {
        font-size: 3rem;
    }
}