.title{
    margin: 0;
    font-size: 6rem;
    color: #E91E63;
    font-family: "Great Vibes", cursive;
    font-weight: 400;   
    align-self: center;
}

@media(max-width: 600px){
    .title{
        font-size: 2rem;
    }
}