.h1-title {
    font-family: "Great Vibes", cursive;
    font-weight: normal;
    font-size: 2rem;
    color: #E91E63;
    align-self: center;
    margin: 0;
}

.header {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #E91E63;
    align-items: center;
}

.burger {
    background-color: #6A82B0;
    color: black;
}

ul {
    font-family: "Lora", sans-serif;
}

a {
    text-decoration: none;
    color: #92A8D1;
}

a:not(:last-child) {
    margin-right: 1rem;
}

a:hover {
    color: #6A82B0;
}

.burger {
    display: none;
}

@media (max-width: 600px) {
    ul {
        display: none;
    }

    .h1-title {
        font-size: 1.5rem;
    }

    .dropdown-button {
        font-size: 0.75rem;
    }
}