.image-background {
    background-image: url(/public/images/jovem-tocando-o-cabelo-de-sua-namorada.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    position: ab;
    padding: 10rem;
}

.image-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.image-text{
    z-index: 2;
    font-family: "Lora", sans-serif;
    font-size: 2rem;
    color: #FAFAFA
;
    text-align: center;
}

@media(max-width: 600px){
    .image-background {
        padding: 1rem;
    }

    .image-text{
        font-size: 1rem;
    }
}