.btn-pink {
    padding: 1rem;
    border: 1px solid #E91E63;
    border-radius: 1rem;
    margin: 1rem;
    width: 100%;
    max-width: 500px;
    font-family: "Lora", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #2E2E2E;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.image-card {
    width: 100px;
    border-radius: 1rem;
}

.btn-pink:hover {
    background-color: #a91849;
    color: white;
    gap: 0.1rem
}

@media (max-width: 500px) {
    .btn-pink {
        gap: 0.1rem
    }
}